{% extends "base.html" %} {% block title %}Kwik Flash{% endblock %} 
{% block content %}
<div id="deckheader">
    <h1 class="deckheader_title">{{deck.title}} </h1>

</div>

<hr style="height:2px;border-width:0;color:gray;background-color:gray">

  <br>
 
  
    <div class="scene" align="center">
      <h6 >click anywhere to flip to flip</h6>
        <!-- <p>Right arrow: <i class="arrow right"></i></p> -->
        <div class="flashcard" id="flashcard">
          <div class="card_face front" onclick="flipFlash()" >
            <textarea readonly name="f_front" placeholder="Front text rquired" >{{flashcard.data}}</textarea>
            <!-- <button type="button" class=" btn btn-primary" onclick="flipFlash()">Flip</button> -->
          </div>
          <div class="card_face back" onclick="flipFlash()">
            <textarea readonly name="f_back" placeholder="Back text rquired" >{{flashcard.data2}}</textarea>
            <!-- <button  type="button" class="btn btn-primary" onclick="flipFlash()">Flip</button> -->
          </div>
        </div>
        <br><br><br>
        <a href="/study_deck/{{deck.title}}_{{pos - 1}}">
            <span class="circle_container c_left"></span>
        </a>
        <span class="deck_position">{{pos+1}}/{{length}}</span>
        
        <!-- <button type="button" class="circle btn-primary" onclick="flipFlash()"></button> -->
        <a href="/study_deck/{{deck.title}}_{{pos + 1}}">
            <span class="circle_container c_right"></span>
        </a>
       
        
      </div>
      <!-- <img src="https://d17usxoyp786nd.cloudfront.net/web_imgs/Next.png" alt="flip"> -->
      
     
        <!-- <div class="deck_grid">
            <textarea class="header" >{{flashcard.title}}</textarea>
            <div class="edit">Edit</div> 
            <textarea class="grid_main_textarea left">{{flashcard.data}}</textarea>
            <textarea class="grid_main_textarea right">{{flashcard.data2}}</textarea>
        </div>
        <br> -->
        <!-- {% for flashcard in deck.flashcards  %} -->
    <!-- {% endfor %} -->
    <!-- <form method="POST"> 
        <br>
        <h4 align="center">Add New Kwik Flash </h4>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
        <br>
        <div class="deck_grid">
            <textarea class="header" name="f_title" placeholder="Enter title here"></textarea>
            <div class="edit">Edit</div> 
            <textarea class="grid_main_textarea left" name="f_front" placeholder="Enter front data here"></textarea>
            <textarea class="grid_main_textarea right" name="f_back" placeholder="Enter back data here"></textarea>
        </div>
        <br>
        <div align="center"  >
            <button type="reset" class="btn btn-primary">Clear</button>
            <button id="add" type="submit" class="btn btn-primary" >Add to Deck</button>
        </div>
    </form> -->




  {% endblock %}