{% extends "base.html" %} {% block title %}Kwik Flash{% endblock %} 
{% block content %}
<h1 align="center">Kwik Flash </h1>

  <br>

      <div class="user_control">
        <div class="menu_buttons" onclick="location.href='/managedecks' ">Manage Decks</div>
        <div class="menu_buttons" onclick="location.href='/' ">Study</div>
        <div class="menu_buttons" onclick="location.href='/' ">kwiki</div>
        <!-- <div class="menu_buttons" onclick="location.href='/' ">Manage Decks</div> -->
      </div>
        



  {% endblock %}