

/*stolen and modified from https://codepen.io/magnificode/pen/rQpaBO 
This is how I got around doing an image of a note card and basically just created my 
own by taking this "paper style" and shrinking it with no holes to make it look like a flash card */

 /* html,
 body {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100%;
}  */
/* :root{
    --margin-line: #941c5a;
    --lines: #1d97b8;
} */
/* body { background-color: #FBFAF5 ; } */

.scene{ /*griffin had this before and I removed it not really understanding why he had it, and still don 't but I needed to add it to make  */
        /*the transition actually look 3d. I tried simply adding it to .flashcard but it didn't work like it did with other attributes.  */
    perspective: 1000px;  
    /* ok from 23schools, When defining the perspective property for an element, it is the CHILD elements that get the perspective view, NOT the element itself. */
}

.flashcard {
    width: 700px;
    height: 420px;
    background-color: #ffffee;
    --lines: #1d97b8;
    background-image: linear-gradient(var(--lines) 0.05em, transparent 0.05em);
    background-size: 100% 2em;
    position: relative;
    /* border: 1px solid gray; */
    transition: transform .5s;
    transform-style: preserve-3d;
    transform-origin: center center;    
    /* why does resize only work on textarea? Would be nice for user to be able to resize*/
    display: flex;
}

.flashcard textarea{
    position: absolute;
    top: 2rem;
    left: 3rem;
    width: calc(100% - 5rem);
    height: calc(100% - 7rem);
    background-color: transparent;
    border: none;
    font-family: cursive;
    font-size: 2rem;
    line-height: 1;
    padding-left: 1rem;
    margin: 0;
    resize: none;
    outline: none;
    text-align: center;
    /*backface-visibility: hidden;  /* I guess not needed since tied to .flashcard */
    /* border: 10px solid gray; */
    
}

  /* reddit Griffin has been helping me with my flip animation. https://codepen.io/rgriffinj/pen/NWJVoXG */
  .card_face {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    backface-visibility: hidden;
    text-align: center;
    font-family: cursive;
    font-size: 2rem;
    box-shadow: 15px 15px 33px rgba(27, 27, 27, 1);
  
  }
  
  .back{
    transform: rotateY(180deg);
  }


  .flashcard.is-flipped {
    transform: rotateY(-180deg);
  }
  
  .flashcard button {
    position: absolute;
    width: 60px;
    bottom:.5rem;
    right:.5rem;
  }

  /* .circle {
    height: 70px;
    width: 70px;
     background-color: rgb(18, 165, 214); 
    border-radius: 50%;
    display: inline-block;
    box-shadow: 15px 30px 33px rgba(27, 27, 27, 1);

  }


  .arrow {
    border: solid black;
    border-width: 0 12px 12px 0;
    display: inline-block;
    padding: 24px;

  }
  .a_left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 175px;

  }

  .a_right { 
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 175px;    
    
  } */

/* used for span during study_deck that shows pos/tot for deck  */
.deck_position{

  font-size: 2rem;
}

/* stolen from https://codepen.io/pdt/pen/oNXdzEB */
  .circle_container{
    display: inline-block;
    width: 4em;
    height: 4em;
    border: 0.1em solid gray;
    border-radius: 50%;
    /* margin-left: 3em; */

  }

  .circle_container.c_right {
    margin-left: 5em;
  }
  
  .c_right:after {
    content: '';
    display: inline-block;
    margin-top: 1.2em;
    margin-left: -0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.2em solid #333;
    border-right: 0.2em solid #333;
    /* -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);*/
    transform: rotate(45deg); 
  }

  .circle_container.c_left {
    margin-right: 5em;
  }

  .c_left:after {
    content: '';
    display: inline-block;
    margin-top: 1.2em;
    margin-left: 0.6em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.2em solid #333;
    border-right: 0.2em solid #333;
    /* -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);*/
    transform: rotate(-135deg); 
  }

  



/* This is for the user menus in grid format*/

.menu_grid{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 10px;
  width: 90%;
  margin:  auto;
  text-align: center;
  /*added to cause everything to center, removed because it broke the temp colums autosize feature above */
  /* display: flex;
  align-items: center;
  justify-content: center; */
 

}

.menu_buttons{
  height: 150px;
  width: 200px;
  background-color: rgb(144, 183, 209);
  border-radius: 25px;
  transition: .3s;
  /*added to cause everything to center*/
  display: flex;
  align-items: center; 
  justify-content: center;
    /*doesn't appear to be needed anymore with "flex"*?
    /* display: inline-block; */
  /* text-align: center; */
  /* this centers all the buttons inside the grid */
  place-self: center;
  box-shadow: 15px 15px 33px rgba(27, 27, 27, 1);
}
.menu_buttons:hover{
  margin-top: -10px;
  cursor: pointer;
  box-shadow: 30px 30px 33px rgba(27, 27, 27, 1); 
}

.error{
  text-align: center;
  font-size: 2em;
  color: #D8000C;
  background-color: #FFBABA;

  
  
}
.success{
  text-align: center;
  font-size: 2em;
  color: #270;
  background-color: #DFF2BF; 
  
  
}




#deckheader{
  display: flex;
  align-items: center; 

  justify-content: center;

}
h1.deckheader_title{
  margin: auto;


}
button.deckheader_button{
  margin: auto;
  color: white;
  background-color: blue;
  border-radius: 2px;
  
}





.deck_grid{
  display:grid;
  /* grid-template-columns: repeat(2, minmax(250px, 1fr)); */
  grid-template-areas: 'header edit'
                        'left right';
    /* 'header header header edit edit edit'
    'left left left right right right'; */
  /* grid-gap: 10px; */
  width: 90%;
  margin:  auto;
  text-align: center;
  /* row-gap: 50px; */
  
}

.header{
  grid-area: header;
  text-align: center;
  background-color: rgb(144, 183, 209);
  outline: none;
  border: none;
  height: 2em;
  /* height:auto;
  width:auto;
  padding-left: 10px */
  resize: none;
  
}

.edit{
  grid-area: edit;
  text-align: center;
  background-color: rgb(144, 183, 209);
  height: 2em;
  display: flex;

}

.grid_main_textarea{
  resize: none;
  outline: none;
  height: 6em;
  width: 32em;
  background-color: #ffffee;
  --lines: #1d97b8;
  background-image: linear-gradient(var(--lines) 0.05em, transparent 0.05em);
  background-size: 100% 2em; 
  line-height: 2; /*should probably find a better way but this was to make sure the font lines up with the lines */
  overflow: hidden;
  text-align: center;
  /* display: flex;
  align-items: center; 
  justify-content: center; */
  /* border: 1px sold gray; */
 }

 textarea.deck_title{
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 2em;
  outline: none;
  resize: none;
  font-weight: 500;

  
  
 }


.grid_main_textarea left{
  grid-area: left;
}

.grid_main_textarea right{
  grid-area:right;
}


.del{
  grid-area: del;
  text-align: center;
  background-color: rgb(144, 183, 209);

}






















 #f_title_textarea{
  grid-area: header;
  width: auto;
  height: 2em;
  background-image: none;
  background-color: rgb(144, 183, 209);
  /* display: flex; */ /*never know when to use this*/
  overflow: hidden;  /*this stops the stupid scroll bar which isn't needed since i'm using .js to auto size*/
  /* border: none; */
  text-align: center;
  border: none;
  
  }

  /* bs class so I could create a listener in JS for all instances, to resize textarea automatically
 .title_textarea{
  background-color: rgb(144, 183, 209);

 }  */



/* placeholder code */
[contentEditable=true]:empty:before {
  content: attr(placeholder);
  opacity: 0.6;
}
  /* experiments */
/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flashcard:hover {
    transform: rotateY(180deg);
    transition: transform 1.8s;
    transform-style: preserve-3d;
    perspective: 1000px;
  }
 */


